
  .box  {
    font-size: 32px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
#roblox {
  background-color: red;
}
#doors {
  background-color: blue;
}
#riseofnations {
background-color: yellow;
}
#merebel {
  background-color: green;
}
