
  .box  {
    font-size: 32px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
#roblox {
  background-color: red;
  border: 100px;
  border-style: soild;
  border-color: orange;
  height: 150px;
  width: 150px;
}
#doors {
  background-color: blue;
    background-color: red;
  border: 90px;
  border-style: dashed;
  border-color: red;
    height: 50px;
  width: 110px;
}
#riseofnations {
background-color: yellow;
  border: 101px dotted purple;
    height: 15px;
  width: 25px;
}
#merebel {
  background-color: green;
  border: 50px;
  border-style: doubled;
  border-color: yellow;
    height: 73px;
  width: 85px;
}
